element.style {
    fill: #4c8656;
}
#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none;
}
body {
    height: 100%;
    color: white!important;
    background-color: #000;
    font-family: Georgia,'Times New Roman',Times,serif!important;
}

#matrix{
    float: left;
    margin-left: 1%;
    margin-top: 25px;
    width: 100%;
    max-width: 800px;
    min-width: 380px;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.t-rec {
    word-break: normal !important;
}
#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none;
}
.cls-1 {
    fill: white;
}
.cls-1 {
    isolation: isolate;
}
*, *:before, *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
:not(svg) {
    transform-origin: 0px 0px;
}
.cls-2 {
    opacity: .75;
}
image {
    width: 348;
    height: 347;
    transform: translate(160.06, 122.9);
}
image {
    overflow: hidden;
}
.cls-21, .cls-24, .cls-3, .cls-5, .cls-7 {
    stroke-width: 2px;
}
.cls-17, .cls-18, .cls-21, .cls-24, .cls-27, .cls-3, .cls-31, .cls-32, .cls-37, .cls-4, .cls-5, .cls-7 {
    stroke-miterlimit: 10;
}
.cls-5, .cls-7, .cls-17, .cls-18, .cls-24, .cls-21, .cls-3, .cls-4 {
    stroke: #eadeb6;
}
.cls-17, .cls-18, .cls-27, .cls-3, .cls-31, .cls-32, .cls-37, .cls-4, .cls-5, .cls-64, .cls-65, .cls-7 {
    fill: none;
}
.cls-28, .cls-33, .cls-39, .cls-44, .cls-48, .cls-51, .cls-66 {
    font-size: 10px;
}
.cls-61 {
    font-size: 6px;
}
.cls-29, .cls-35, .cls-41 {
    letter-spacing: -0.01em;
}
.cls-10 {
    fill: #5d3a8a;
}
.cls-13 {
    fill: #343e6f;
}
.cls-15 {
    fill: #74a3ab;
}
.cls-25 {
    fill: #d8a475;
}
.cls-22 {
    fill: #a34924;
}
.cls-24, .cls-21, .cls-66, .cls-67 {
    fill: #000;
}

.cls-18 {
    stroke-dasharray: 5.04 5.04;
}
.cls-53 {
    fill: black;
}
.cls-53, .cls-52 {
    stroke: #eadeb6!important;
}
.cls-52 {
    font-size: 41.04px;
    fill: black;
    font-family: ArialNarrow,Arial;
}
.cls-19 {
    fill: #6a3432;
}
.matrix-value-point {
    text-anchor: middle;
    alignment-baseline: middle;
}
.cls-54, .cls-55, .cls-56 {
    font-size: 40px;
}
.cls-28, .cls-30, .cls-67, .cls-34, .cls-35, .cls-36, .cls-40, .cls-41, .cls-43, .cls-51, .cls-66, .cls-54, .cls-55, .cls-56, .cls-57, .cls-58, .cls-59, .cls-60 {
    font-weight: 700;
}
.cls-28, .cls-30, .cls-67, .cls-34, .cls-35, .cls-36, .cls-39, .cls-43, .cls-51, .cls-66, .cls-54, .cls-55, .cls-56, .cls-57, .cls-58, .cls-59, .cls-60 {
    font-family: Arial-BoldMT,Arial;
}
.cls-55 {
    fill: #FFF;
}
.cls-30, .cls-67, .cls-43 {
    font-size: 12px;
}

.cls-38 {
    fill: #6a3432;
}